/* CSS for better blog page */
.blogTitle {
	text-align: center;
	font-size: xx-large;
	border: 2px solid black;
	border-radius: 6px;
	padding: 15px;
	background-color: #4397d0;
	color: #ffffff;
}

.blogEntry {
	border: 2px solid black;
	padding: 15px;
	margin-bottom: 2rem;
}

.mainBlogText {
	border: 10px groove black;
	padding: 10px;
	background-color: #fefeff;
	border-radius: 5px;
}

.sourceText {
	border: 5px groove black;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}

/* CSS for the Pet Services Page */
.serviceSection {
	border: 2px solid black;
	padding-left: 10px; padding-right: 10px;
	margin-top: 1rem;
	margin-bottom: 3rem;
	border-radius: 5px;
}

.serviceTitle {
	text-align: center;
	font-size: xx-large;
	border: 2px solid black;
	border-radius: 6px;
	padding: 15px;
	background-color: #4397d0;
	color: #ffffff;
}

.groomingTitle {
	border-top: 2px solid black;
	font-size: x-large;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Make grid look organized. */
.ui-block-a {
	text-align: center;
	padding-right: 15px;
}
.ui-grid-a .ui-block-b {
	border-left: 2px solid black;
	padding-left: 15px;
	text-align: center;
}

/* For map to fit in frame. */
iframe {
	width: 100%;
}

/* For responsive grid on small screens. */
@media all and (max-width: 500px) {
	.ui-grid-a .ui-block-a,
	.ui-grid-a .ui-block-b {
		width: 100%;
		float: left;
		text-align: center;
	}
	.ui-grid-a .ui-block-b {
		border-left: #000000;
	}
}




/* -----------------------Original CSS----------------------- */

/* For main title on all pages */
.ui-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: block !important;
	overflow: visible !important;
	white-space: normal !important;
}

/* For individual component titles */
.effectTitle {
	text-align: center;
	border-top: 2px solid;
	padding-top: 2rem;
}

/* For animated, main component type titles */
.jQTitle {
	border: 1px solid;
	border-radius: 10px;
	width: fit-content;
	padding: 1rem;
	animation: colorchange 7s infinite; /* Color animation */
}

/* Same as previous, different margins */
.jQTitle2 {
	border: 1px solid;
	border-radius: 10px;
	width: fit-content;
	padding: 1rem;
	margin-top: 4rem;
	animation: colorchange 7s infinite; /* Color animation */
}

/* For custom horizontal line */
.customLine {
	margin-top: 2rem;
	border-color: #3386cb;
	border-width: 15px;
}

/* Color animation */
@keyframes colorchange {
	0%   {background-color: #3386cb;}
	25%  {background-color: rgb(218, 218, 105);}
	50%  {background-color: rgb(196, 86, 86)}
	75%  {background-color: rgb(87, 177, 87);}
	100% {background-color: #3386cb;}
}

/* Draggable/Droppable CSS */
#draggableContainer {
	width: fit-content;
	height: fit-content;
	border: 3px solid;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

#draggableContainer > div {
	width: 100px;
	height: 100px;
	border: 2px solid #7d7272;
	background-color: white;
	text-align: center;
	line-height: 80px;
	margin: 7px;
	cursor: pointer;
}

#draggableContainer > div > p {
	line-height: 25px;
}

#draggableContainer > .dropZone {
	width: 150px;
	height: 150px;
	border: 2px dashed #7d7272;
	background-color: white;
}

/* Resizable CSS */
#resizable { 
	width: 150px; 
	height: 75px; 
	border: 2px dashed;
	margin: auto;
	margin-bottom: 4rem;
	padding: 10px;
	text-align: center;
}

/* Selectable CSS */
#selectable .ui-selecting { 
	 background: #87bef1; /* Color while clicking */
}

#selectable .ui-selected { 
	background: #3386cb; /* Color when clicked */
	color: white; 
}

#selectable { 
	list-style-type: none; /* Get rid of list dots */
	margin: auto;
	width: 35%; 
}

#selectable li { 
	border: 2px solid #7d7272;
	margin-bottom: 15px;
	padding: 15px; 
	text-align: center;
	cursor: pointer;
}

/* Accordian CSS */
.accordionText {
    height: 200px;
}

/* Keeps explode area centered */
#explodeArea {
    position: relative;
    display: inline-block;
}

/* For color changing area */
#colorChangeArea {
	width: 200px;
	height: 100px;
	background-color: black;
	border-radius: 5px;
}

/* To keep buttons small */
#btnHide,
#btnShow,
#btnExplode,
#btnExplodeReset,
#btnFadeIn,
#btnFadeOut,
#btnColorChange,
#btnOgColor {
	width: fit-content;
}

/* For centering multiple buttons */
#btnContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
